<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>Article List</h1>

    <ul>
      binding.pry
      <% articles.each do |article| %>
        <li>
          <a href="<%= article["url"] %>" target="_blank"><%= article["title"] %></a>
        </li>
        Desc: <%= article["description"] %></br></li>
        <% end %>
    </ul>

<a href = "/articles/new/">Write new article</a>

  </body>
</html>
