<!DOCTYPE html>
<html>
  <head>
    <title>New article</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h2>Submit New Article</h2>
    <h3><%= error_message %></h3>
    <form action="/articles/new/" method="post">

      <label for="article">Article:</label>
      <input value= "<%= params["article"] %>" type="text" id="article" name="article" placeholder="site name" >


      <label for="url">URL:</label>
      <input type="url" id="url" name="url" placeholder="http://">


      <label for="description">Description:</label>
      <input type="text" id="description" name="description" placeholder="description" minlength="2">



      <input type="submit">
    </form>

    <a href="/articles/">Back to all articles</a>
  </body>
</html>
