body {
  /* Use a black n white-style color scheme. */
  background-color: rgba(0, 0, 0, .56);
  color: #000000;

  font-family: Arial;
  font-size: 1.5em;
}

ul {
  /* Wrap the list in a black box. */
  width: 700px;
  border: 3px solid #000000;
}

li {
  /* Add a bit more spacing between list items. */
  padding: 7px;
}

input {

  display: block;
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 1em;
}

/* input:hover {
    background-color: yellow;
} */
